<div id="carrito">
  <h2>Carrito</h2>
	<div class="list-group">
		<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">{{error}}</div>
		<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="success">{{success}}</div>
    <div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="info">{{info}}</div>
		<table class="table table-bordered text-center" *ngIf="carrito">
  		<thead class="thead-dark">
    		<tr>
      		<th scope="col">Titulo</th>
      		<th scope="col">Cantidad</th>
      		<th scope="col">Precio</th>
      		<th scope="col">Descuento</th>
      		<th scope="col">Total</th>
          <th></th>
    		</tr>
  		</thead>
  		<tbody *ngFor="let item of carrito">
  			<tr>
  				<td>{{item.titulo}}</td>
  				<td>{{item.cantidad}}</td>
  				<td>{{item.precio}}</td>
  				<td>{{item.descuento}} %</td>
  				<td>{{item.cantidad * (item.precio - (item.precio * (item.descuento * 0.01)))}}</td>
          <td><button class="btn btn-danger" (click)="deleteProducto(item.idProducto)">Borrar</button></td>
  			</tr>
  		</tbody>
  	</table>
	</div>
	<button class="btn btn-success float-right" *ngIf="carrito" routerLink="/comprar">Ir a Checkout</button>
</div>