<form>
	<div class="row">
 		<div class="form-group col">
 			<label>Nombre</label>
  			<input type="email" class="form-control" placeholder="Anónimo">
 		</div>
 	</div>
 	<div class="row">
 		<div class="form-group col">
  			<label>Calificación</label>
  			<select class="form-control">
  			  <option>1</option>
  			  <option>2</option>
  			  <option>3</option>
  			  <option>4</option>
  			  <option>5</option>
  			</select>
 		</div>
 		<div class="form-group col">
  			<label>Comentario</label>
  			<textarea class="form-control" rows="1"></textarea>
 		</div>
 	</div>
</form>
