	<div class="row">
		<div class="col">
			<div class="card card-outline-secondary my-4">
         <div class="card-header">
           Reseñas de este producto
         </div>
         <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">{{error}}</div>
					<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="success">{{success}}</div>
					<div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="info">{{info}}</div>
          <div class="card-body" *ngFor="let item of comentarios">
          	<p>Calificó:  {{item.calificacion}} &#9733;</p>
            <p>{{item.comentario}}</p>
            <small class="text-muted">Publicado por {{item.nombre}} el {{item.publicadoen}}</small>
            <hr>
          </div>
        </div>
        <!-- /.card -->
      
		</div>
	</div>
<form>	
 	<div class="row">
 		<div class="form-group col">
 			<label>Nombre</label>
  		<input type="text" class="form-control" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}">
 		</div>
 		<div class="form-group col-md-4 my-4">
  		<label>Calificación: </label>
  		<ngb-rating [(rate)]="calificacion">
  			<ng-template let-fill="fill">
  				<span class="star" [class.filled]="fill === 100">&#9733;</span>
  			</ng-template>
  		</ngb-rating>
 		</div>
 	</div>
 	<div class="row">
 		<div class="form-group col">
  			<label>Comentario</label>
  			<textarea class="form-control" rows="1" [(ngModel)]="comentario" [ngModelOptions]="{standalone: true}"></textarea>
  			<button class="btn btn-success form-control my-2" (click)="addComentario(calificacion, comentario, nombre)">Enviar</button>
 		</div>
 	</div>
</form>
