.breadcrumb {
	background-color: #D7F699;
}

.card {
	border-color: #1F4118;
}

.card-body {
	background-color: #D7F699;
}

.card-footer {
	background-color: #A4BD6C;
}

.form-control {
	background-color: #E9FAC7;
}

a:link,
a:visited,
a:hover {
	color: #000000;
	text-decoration: none;
}