<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Ingeniería Web</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Ingeniería Web</a>
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
      </button>
      <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-1">
            <a class="nav-link text-center" routerLink="/" (click)="isMenuCollapsed = true">Inicio</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link text-center" routerLink="/buscar" (click)="isMenuCollapsed = true">Productos</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link text-center" routerLink="/carrito" (click)="isMenuCollapsed = true">Carro de Compras <span class="badge badge-pill badge-danger">{{elementosCarrito}}</span></a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link text-center" routerLink="/contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>