<div class="container">
	<nav>
  	<ol class="breadcrumb">
  	  <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
  	  <li class="breadcrumb-item"><a routerLink="/buscar">Productos</a></li>
  	  <li class="breadcrumb-item active">{{producto.titulo}}</li>
  	</ol>
	</nav>
	<div class="row">
		<div class="col-lg-3">
			<img class="card-img-top img-fluid mt-4 mb-2" src="{{producto.imagen}}" alt="">
		</div>
		<div class="col-lg-9">
			<div class="card mt-4" *ngIf="producto">
        <div class="card-body">
          <h3 class="card-title">{{producto.titulo}}</h3>
          <h3 class="card-title text-muted">{{producto.autor}}</h3>
          <h4>${{producto.precio}}</h4>
          <p class="card-text">Stock: {{producto.stock}} unidades.</p>
          <p class="card-text">Calificación: {{producto.calificacion}}</p>
					<div class="input-group my-2">
						<label class="form-control col-lg-2">Cantidad</label>
						<select class="form-control col-lg-2" [(ngModel)]="cantidad">
  						<option>1</option>
  						<option>2</option>
  						<option>3</option>
  						<option>4</option>
  						<option>5</option>
  						<option>6</option>
  						<option>7</option>
  						<option>8</option>
						</select>
						<button class="btn btn-success mx-2" (click)="addToCart(producto.idProducto, cantidad)">Añadir al Carrito</button>
        	</div>
        	<div class="alert alert-danger" role="alert" *ngIf="error">{{error}}</div>
        	<div class="alert alert-success" role="alert" *ngIf="success">{{success}}</div>
      	</div>
      </div>
      <!-- /.card -->
		</div>
	</div>
	<app-comentario></app-comentario>
</div>
